<% include ../partials/header %>


<style type="text/css"> 
    .jumbotron {
        /*background-image: url(https://images.unsplash.com/photo-1516580969106-cf73dc3b2d3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);*/
        /*background-image: url(https://images.unsplash.com/photo-1446161543652-83eaa65fddab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);*/
        /*background-image: url(https://dc95wa4w5yhv.cloudfront.net/image-cache/Teaching-children-to-honor-the-elderly_825_460_80_c1.jpg);*/
        background-image: url(https://www.nextavenue.org/wp-content/uploads/2017/10/The-Tightrope-of-Aging-Between-Active-Aging-and-End-of-Life_109891372-750x485.jpg);
        /*background-size: 100% 100%;*/
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    #h1 {
      color: black;
      -webkit-text-fill-color: black; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }

</style>

    
<div class="container">
    <header class="jumbotron vertical-center">
        <div class="container">
            <h1 id="h1">O-Ra</h1>
            <h2 id="h1">Helping recipes interact, teach and lead happier healthier lives.</h2>
        </div>
    </header>
    
    <div class="text-center">
        <form action="/recipes/indexyoung" method="GET" class="form-inline" id="Recipe-search">
            <div class="form-group">
              <a class="btn btn-primary btn-large" href="/recipes/new">Register a new recipe!</a>
              <input type="text" name="search" placeholder="Searching for..." class="form-control">
              <input type="submit" value="Search" class="btn btn-default btn-outline-success">
            </div>
        </form>
    </div><br>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% Recipes.forEach(function(recipe){ %>
        <div class="col-md-12 col-sm-6">
            <div class="thumbnail">
                <div class="pull-left" style="magin-top: 30px">
                    <br>
                    <img src="<%= recipe.image %>" style="width:25em;">
                </div>
                <div class="text-right pull-right">
                    <div class="caption">
                        <h4><%= recipe.name %></h4>
                        <% if (recipe.rating === 0) { %>
                        <em>No reviews yet.</em>
                        <% } else { %>
                            <span class="fa fa-star checked"></span>
                            <% if (recipe.rating > 1.5) { %> <span class="fa fa-star checked"></span> <% } %>
                            <% if (recipe.rating > 2.5) { %> <span class="fa fa-star checked"></span> <% } %>
                            <% if (recipe.rating > 3.5) { %> <span class="fa fa-star checked"></span> <% } %>
                            <% if (recipe.rating > 4.5) { %> <span class="fa fa-star checked"></span> <% } %>
                        <% } %>
                    </div>
                    <p>
                        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary"><span class="fa far fa-star"></span> Click here to access my page</a>
                    </p>
                    <p>
                        <% if(recipe.skill) { for (var i = 0; i < recipe.skill.split(",").length; i++) { %> <p><span class="fa fa-check"></span><%= recipe.skill.split(",")[i] %></p><% } } %>
                    </p>
                    <div class="thumbnail">
                        <h3 class="text-left"><img src="<%= recipe.image %>" style="width:50px; height:50px">Relevant comment:</h3>
                        <p>
                            <% if (recipe.comments.length > 0) { %> <p><%= recipe.comments[0].text.substring(0, 100) %></p><% } %>
                            <% if (recipe.comments.length == 0) { %> <p> This person has no comments yet</p><% } %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } ); %>
    </div>
</div>
<% include ../partials/footer %>